JWT_SECRET=aac02e6f26043fa0220c9dfe910542966f279e81159bdd9cfe1511dc7d402d78
COMPOSE_PROJECT_NAME=java-spring-k04-jj

MYSQL_CONTAINER_NAME=pz_container
MYSQL_ROOT_PASSWORD=1234567
MYSQL_DATABASE=projekt_zespolowy
MYSQL_USER=user_jj
MYSQL_PASSWORD=1234567
TZ=Europe/Warsaw