/* src/styles/variables.scss */

$primary-color: #003366;
$secondary-color: #003366;
$background-color: #ffffff;
$box-color: #ffffff;
$text-color: #333333;
$error-color: #ff4d4f;
$font-family: 'Arial', sans-serif;

/* Dodatkowe zmienne */
